<h1> Your logo </h1>

<% var = @logo %>

<% if var!= nil %>
<% if var.weight == "bold" %>
 <font size = "<%= var.size %>" color = "<%= var.color %>" face = "<%= var.font%>">
<b>Logo </b></font> 
<% elsif var.weight == "italic" %>
<i>
<font size = "<%= var.size %>" color = "<%= var.color %>" face = "<%= var.font%>">
Logo </font>
</i>
<% else %>

<font size = "<%= var.size %>" color = "<%= var.color %>" face = "<%= var.font%>">
<u>Logo</u> </font>


<% end %>
<% end %>