<h1>Create Your Logo</h1>
<%= form_for(:logo) do |f| %>


<%= f.label :font %>
<%= f.select(:font, options_for_select([['Arial', 'arial'], ['Times', 'times'], ['Courier New', 'courier new'], ['Comic Sans MS', 'comic sans ms'], ['Georgia', 'georgia']])) %>

<%= f.label :size %>
<%= f.select(:size, options_for_select([['1', '1'], ['2', '2'], ['4', '4'], ['6', '6'], ['7', '7']])) %>

<%= f.label :color %>
<%= f.select(:color, options_for_select([['Red', 'red'], ['Blue', 'blue'], ['Green', 'green'], ['Yellow', 'yellow'], ['Gray', 'gray']])) %>


<%= f.label :weight %>
<%= f.select(:weight, options_for_select([['Bold', 'bold'], ['Italic', 'italic'], ['Underline', 'underline']])) %>

<%= submit_tag "View", :name =>'view' %>

<% end %>


<h3> Your Logo </h3> 
<p>
<% var = @render_logo %>
<% if var!= nil %>
<% if var.weight == "bold" %>
 <font size = "<%= var.size %>" color = "<%= var.color %>" face = "<%= var.font%>">
<b>Logo </b></font> 
<% elsif var.weight == "italic" %>
<i>
<font size = "<%= var.size %>" color = "<%= var.color %>" face = "<%= var.font%>">
Logo </font>
</i>
<% else %>

<font size = "<%= var.size %>" color = "<%= var.color %>" face = "<%= var.font%>">
<u>Logo</u> </font>


<% end %>
<% end %>
<% if var!=nil %>
<%= form_for(:complete_logo) do %>
<%= hidden_field_tag 'complete_logo[font]', var.font %>
<%= hidden_field_tag 'complete_logo[size]', var.size %>
<%= hidden_field_tag 'complete_logo[color]', var.color %>
<%= hidden_field_tag 'complete_logo[weight]', var.weight %>
Like it?
<%= submit_tag "Save", :name =>'save' %>
<% end %>
<% end %>
</p>

<h2>Saved Logos:</h2>
<% if @logos != nil %>
	<ol>
	<% for l in @logos do %>
		<li>
			<% if l.weight == "bold" %>
 				<b><font size = "<%= l.size %>" color = "<%= l.color %>" face = "<%= l.font%>">Logo</font></b> 
			<% elsif l.weight == "italic" %>
				<i><font size = "<%= l.size %>" color = "<%= l.color %>" face = "<%= l.font%>">Logo</font></i>
			<% else %>
				<u><font size = "<%= l.size %>" color = "<%= l.color %>" face = "<%= l.font%>">Logo</font></u>
			<% end %>
		</li>
	<% end %>
	</ol>
<% else %>
	<p>There are currently no logos saved.</p>
<% end %>